* {
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
}

.title{
    font-family: monospace;
    font-size: 80px;
    margin-bottom: 0;
}

.description{
    font-family: monospace;
    font-size: 16px;
}
.webpage{
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 500px;
    height: 500px;
    background-color: white;
}

.information{
    text-align: center;
    justify-content: center;
}


.pixel{

    height: 1fr;
    width: 1fr;
}

.clearBoard, .setDimensions{
    margin-bottom: 10px;
}