* {
    box-sizing: border-box;
}

.container{
    display: grid;
    justify-content: center;

}

.information{
    text-align: center;
    justify-content: center;
}


.pixel{
    border: 1px solid black;
    height: 25px;
    width: 25px;
}
